@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow: hidden;
  scrollbar-gutter: stable;
}
.markdown-body {
	@apply prose prose-base prose-stone;
}

:-moz-focusring {
	outline: none; /** Reset needed for Firefox */
}
