@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
}
body {
	overflow: hidden;
  scrollbar-gutter: stable;
}
.markdown-body {
	@apply prose prose-base prose-stone;
}

:-moz-focusring {
	outline: none; /** Reset needed for Firefox */
}
